/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;  padding: 0; text-decoration: none;
}
html, body { 
    height: 100%; 
    background: white;
    scroll-behavior: smooth;
}
.container {
    width: 85%;
    margin: 0 auto;
}
.bg-image {
    background-image: url('/assets/images/background.jpg');
    filter: blur(3px);
    -webkit-filter: blur(3px);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }